/* main */
body { background:#456981; font-family:'Trebuchet MS',sans-serif; }
#wrapper { margin:0 auto; width:1000px; position:relative; }

/* header */
header.main { ; }
    #title { background:#316182 url('../img/dialogbg.png') repeat-x left center; border-bottom:1px solid #2E6083; }
    header.main .title { color:#FFF; font-family:'Georgia',serif; font-size:26px; font-weight:bold; float:left;
        padding:10px 0 10px 20px; }
    header.main nav.account ul { background-color:#222E4B; border-style:solid; font-size:12px; text-align:right;
        border-color:#4F849D; border-width:0 0 1px 1px; padding:5px 10px; -webkit-border-bottom-left-radius:10px;
        -moz-border-radius:0 0 0 10px; float:right; display:inline; position:absolute; top:0px; right:0px; }
        header.main nav.account ul li { display:inline; padding:0 3px; border-right:1px solid #EEE; }
            header.main nav.account ul li a { color:#FFA800; text-decoration:none; font-weight:bold; padding-right:3px; }
            header.main nav.account ul li.omega { border:0; padding-right:0; }
                header.main nav.account ul li.omega a { padding-right:0; }

/* menu */
nav.nav { background:#222E4B; }
    nav.nav ul { height:26px; border-bottom:1px solid #3D7094; padding-left:20px; }
nav.subnav { background:#316081; height:23px; }
    nav.subnav ul { padding-left:20px; }
nav.nav ul li, nav.subnav ul li { display:inline; }
    nav.nav ul li a, nav.subnav ul li a { text-decoration:none; color:#FFF; font-weight:bold; letter-spacing:-1px; }
        nav.subnav ul li a.active { color:#316182; }
    nav.nav ul li a { background:transparent url('../img/dialogbg.png') repeat-x 0 -90px; font-size:14px;
        padding:2px 10px; line-height:30px !important; height:30px !important; -moz-border-radius:2px 2px 0 0;
        -webkit-border-radius:2px 2px 0 0; border-radius:2px 2px 0 0; }
        nav.nav ul li a:hover { background:#263D5B; }
        nav.nav ul li a.active { background-position:bottom; color:#FFF; height:31px !important;
            border-bottom:1px solid #316081; }
        nav.nav ul li a.white { background:#FFF url('../img/whitetab.png') repeat-x; border-bottom:1px solid #FFF;
            color:#316182; }
    nav.subnav ul li a { font-size:13px; padding:2px 8px; line-height:25px; height:25px;
        -moz-border-radius:2px 2px 0 0; -webkit-border-radius:2px 2px 0 0; border-radius:2px 2px 0 0; }
        nav.subnav ul li a:hover { background:#2A516D; }
        nav.subnav ul li a.active { background:#FFF url('../img/whitetab.png') repeat-x; color:#316182; }

/* content */
section.container { background:#FFF; min-height:100px; padding-top:10px; }
    header h1 { color:#222E4B; font-family:'Georgia',serif; font-weight:normal; border-bottom:1px solid #EEE;
        font-size:28px; margin:0 20px; }
    section.container article { padding:20px; font-size:15px; }
        section.container article div.left { ; }
    footer.foot { border-top:1px solid #0D334E; color:#FFF; background:url('../img/footerbg.png') repeat-x left bottom;
        font-size:11px; padding:10px 0; }
    section.container h2 { color:#222E4B; font-family:'Georgia',serif; font-weight:normal; font-size:22px;
        margin-bottom:16px; letter-spacing:-1px; }

/* messages */
section.container ul.messages { margin:0 0 20px 10px; }
section.container ul.messages li { padding-left:30px; line-height:25px; }
section.container ul.messages li.error { background:#FFFFCC url('../img/error.png') no-repeat 10px;
    border-bottom:1px solid #FFA800; border-top:1px solid #FFA800; }
section.container ul.messages li.ok, section.container ul.messages li.message {
    background:url('../img/ok.png') no-repeat 10px; }

/* pagination */
section.container div.pagination { font-size:13px; }
    section.container div.pagination a { color:#316182; }

/* custom */
ul.list_1 { margin-bottom:20px; }
ul.list_1 li { border-width:1px 0 0 0; border-style:solid; font-size:13px; padding:6px 10px; }
    ul.list_1 span.amount { float:right; text-align:right; }
    ul.list_1 li p { margin-bottom:4px; }
    ul.list_1 li div.actions { text-align:right; }
        ul.list_1 li div.date { float:left; font-size:11px; }
        ul.list_1 li div.actions a { font-size:11px; }
        ul.list_1 li div.actions ul li { border:0; padding:0 3px; display:inline; }
        ul.list_1 li div.actions ul li.first { padding-left:0; }
    ul.list_1 li.last { border-bottom-width:1px; }

    ul.list_1 li.sum { border:0; }
        ul.list_1 li.sum span.amount { font-size:14px; }

ul.list_1 li.red { border-color:#E8B5B5; background:#FCF7F7; }
    ul.list_1 li.red a { color:#B44242; }
    ul.list_1 li.red div.actions ul li { border-color:#8F3E4B; }
ul.list_1 li.green { border-color:#B5E8B9; background:#F7FCF7; }
    ul.list_1 li.green a { color:#2F771D; }
    ul.list_1 li.green div.actions ul li { border-color:#244E19; }
ul.list_1 li.blue { border-color:#B4D2E7; background:#F7FAFD; }
    ul.list_1 li.blue a { color:#316182; }
    ul.list_1 li.blue div.actions ul li { border-color:#24475F; }
ul.list_1 li.gray { border-color:#CCC; background:#FFF; }
    ul.list_1 li.gray a { color:#444; }
    ul.list_1 li.gray div.actions ul li { border-color:#333; }
ul.list_1 li.orange { border-color:#FA9D23; background:#FFEFDA; }
    ul.list_1 li.orange a { color:#975325; }
    ul.list_1 li.orange div.actions ul li { border-color:#8F3E4B; }

ul.list_2 { margin-bottom:30px; }
    ul.list_2 li { font-size:13px; line-height:18px; font-weight:bold; }
    ul.list_2 li.push { margin-bottom:5px; }
    ul.list_2 a { color:#316182; font-weight:normal; }

form.form_1 { ; }
    form.form_1 input, form.form_1 select, form.form_1 textarea { border-color:#999 #CCC #CCC #999; border-style:solid;
        border-width:1px; }
    form.form_1 input, form.form_1 select { font-family:'Georgia',sans-serif; padding:3px; }
    form.form_1 textarea { font-family:'Consolas','Bitstream Vera Sans Mono','Monaco',monospace; padding:4px;
        width:99%; }
    form.form_1 input:focus, form.form_1 textarea:focus, form.form_1 select:focus { border:1px solid #B4D2E7;
        outline:1px solid #729AB6; }
    form.form_1 input[type="submit"], form.form_1 input[type="button"], form.form_1 input[type="reset"] {
        background:#F7FAFD; color:#224466; border:1px solid #CCC; -moz-border-radius:3px; -webkit-border-radius:3px;
        border-radius:3px; cursor:pointer; }
    form.form_1 input[type="submit"]:active, form.form_1 input[type="button"]:active,
    form.form_1 input[type="reset"]:active { border-color:#A5C3DA #6595B9 #A5C3DA #6595B9; background:#F2F2F2;
        outline:none; }
    form.form_1 input[type="submit"]:focus, form.form_1 input[type="button"]:focus,
    form.form_1 input[type="reset"]:focus { outline:none; }
    form.form_1 input[type="submit"]:hover, form.form_1 input[type="button"]:hover,
    form.form_1 input[type="reset"]:hover { border-color:#B4D2E7; background:#FFF; }
    form.form_1 input[type="checkbox"]:focus, form.form_1 input[type="radio"]:focus { outline:none; border:none; }
    form.form_1 input[name="delete"]:hover { background:#D00; color:#FFF; }
    form.form_1 input[name="save"] { font-weight:bold; }
    form.form_1 dt { color:#686868; font-weight:bold; margin-bottom:5px; }
    form.form_1 dd { margin:0 0 10px 30px; }

/* login */
body.login{background:#316182 url('../img/dialogbg.png') repeat-x;}
div.login-box{position:absolute;z-index:80;width:400px;top:60%;left:50%;-moz-border-radius:20px;-webkit-border-radius:20px;border-radius:20px;margin:-210px 0 0 -232px;padding:32px;}
div.login-box form{text-align:center;}
div.login-box dl{margin:20px 0 30px;padding:0;}
div.login-box dt{color:#FFF;font-weight:700;margin:5px 0;padding:0;}
div.login-box dd{margin:0;padding:0 20px;}
div.login-box input{color:#FFF;background:#222e4b;border:1px solid #4f849d;font-family:Georgia, serif;font-size:20px;width:340px;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;padding:3px;}
div.login-box input:focus{background:url('../img/dialogbg.png') repeat-x 0 -30px;}
div.login-box input[type="checkbox"]{width:18px;height:18px;}
div.login-box label{color:#FFF;}
div.login-box input[type="submit"]{display:block;background-color:#ebf0f3;width:130px;color:#246;border:1px solid #ccc;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;cursor:pointer;margin:20px auto 0;}
div.login-box input[type="submit"]:hover{background-color:#FFF;}
div.login-box input[type="submit"]:focus{background:#D3E4EB;}

/* chart */
ul#chart { text-align:center; font-size:10px; margin-left:25px; }
ul#chart li { float:left; width:40px; position:relative; height:155px; margin-right:15px; border-right:1px dashed #EEE;
    padding-right:24px; margin-bottom:15px; }
ul#chart li div { position:absolute; bottom:0; width:25px; border-width:1px 1px 0 1px; border-style:solid;
    border-bottom:1px solid #222E4B; padding:20px 0 5px 0; margin-bottom:20px;}
ul#chart li div.expenses { left:0; background:#F7FAFD; border-color:#B4D2E7; z-index:1; color:#316182; }
ul#chart li div.income { left:21px; background:#F7FCF7; border-color:#B5E8B9; color:#2F771D; }
ul#chart li div b { -webkit-transform:rotate(-90deg); -moz-transform:rotate(-90deg); color:#1A1A1A; }
ul#chart li span { position:absolute; bottom:0; left:7px; }