{% extends "layout.html" %}
{% block body %}
  <h2>Add Expense</h2>
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
  <form action="{{ url_for('add_expense') }}" method=post>
    <dl>
      <dt>Date:
      <dd><input type=text name=date>

      <dt>Category:
      <dd>
      <select name=category>
        {% for category in categories %}
          <option value="{{ category.id }}">{{ category.name }}</option>
        {% endfor %}
      </select>

      <dt>Description:
      <dd><input type=text name=description>

      <dt>From Account:
      <dd><select name=deduct_from>
        {% for account in accounts %}
          <option value="{{ account.id }}">{{ account.name }}</option>
        {% endfor %}
      </select>

      <dt>Amount:
      <dd><input type=text name=amount>

      <dt>Shared Expense?:
      <dd><input type=checkbox name=is_shared>

      <dt>With User:
      <dd><select name=user>
        {% for user in users %}
          <option value="{{ user.id }}">{{ user.name }}</option>
        {% endfor %}
      </select>

      <dt>% Split:
      <dd><input type=text name=split>

      <dd><input type=submit value=Add>
    </dl>
  </form>
{% endblock %}