{% extends "admin_layout.html" %}
{% block nav %}
<nav class="nav">
    <ul>
        <li><a href="{{ url_for('dashboard.index') }}">Dashboard</a></li>
        <li><a href="{{ url_for('expenses.index') }}">Expenses</a></li>
        <li><a href="{{ url_for('income.index') }}" class="active">Income</a></li>
        <li><a href="{{ url_for('loans.index') }}">Loans</a></li>
        <li><a href="{{ url_for('accounts.show_transfers') }}">Accounts</a></li>
        <li><a href="{{ url_for('users.add_private') }}">Users</a></li>
    </ul>
</nav>
<nav class="subnav">
    <ul>
        <li><a href="{{ url_for('income.index') }}">Income</a></li>
        <li><a href="{{ url_for('income.add_income') }}" class="active">Add Income</a></li>
        <li><a href="{{ url_for('income.add_category') }}">Add Income Category</a></li>
    </ul>
</nav>
{% endblock %}

{% block header %}<h1>Add Income</h1>{% endblock %}

{% block body %}
<div class="left grid_6">
    <form action="{{ url_for('income.add_income') }}" method=post class="form_1">
        <dl>
            <dt>Date:
            <dd><input type=text name=date {% if request.form['date'] %}value="{{ date }}"{% endif %}>

            <dt>Category:
            <dd>
                <select name=category>
                    {% for category in categories %}
                    <option value="{{ category.id }}"
                        {% if request.form['category'] == category.id %}selected{% endif %}
                        >{{ category.name }}</option>
                    {% endfor %}
                </select>

            <dt>Description:
            <dd><input type=text name=description {% if request.form['description'] %}value="{{ description }}"{% endif %}>

            <dt>To Account:
            <dd><select name=credit_to>
                {% for account in accounts %}
                <option value="{{ account.id }}"
                    {% if request.form['credit_to'] == account.id %}selected{% endif %}
                    >{{ account.name }}</option>
                {% endfor %}
            </select>

            <dt>Amount:
            <dd><input type=text name=amount {% if request.form['amount'] %}value="{{ amount }}"{% endif %}>

            <dd><input type=submit value=Add>
        </dl>
    </form>
</div>
{% endblock %}