{% extends "admin_layout.html" %}
{% block nav %}
<nav class="nav">
    <ul>
        <li><a href="{{ url_for('dashboard.index') }}">Dashboard</a></li>
        <li><a href="{{ url_for('expenses.index') }}">Expenses</a></li>
        <li><a href="{{ url_for('income.index') }}">Income</a></li>
        <li><a href="{{ url_for('loans.index') }}">Loans</a></li>
        <li><a href="{{ url_for('accounts.index') }}" class="active">Accounts</a></li>
        <li><a href="{{ url_for('users.add_private') }}">Users</a></li>
    </ul>
</nav>
<nav class="subnav">
    <ul>
        <li><a href="{{ url_for('accounts.index') }}">Transfers</a></li>
        <li><a href="{{ url_for('accounts.add') }}" class="active">Add Account</a></li>
        <li><a href="{{ url_for('accounts.transfer') }}">Account Transfer</a></li>
    </ul>
</nav>
{% endblock %}

{% block header %}<h1>Add Account</h1>{% endblock %}

{% block body %}
<div class="left grid_6">
    <form action="{{ url_for('accounts.add') }}" method=post class="form_1">
        <dl>
            <dt>Name
            <dd><input type=text name=name>

            <dt>Type
            <dd><select name=type>
                <option value="asset">Asset</option>
                <option value="liability">Liability</option>
            </select>

            <dt>Balance
            <dd><input type=text name=balance>

            <dd><input type=submit value=Add>
        </dl>
    </form>
</div>
{% endblock %}