{% extends "admin_layout.html" %}
{% block nav %}
<nav class="nav">
    <ul>
        <li><a href="{{ url_for('dashboard.index') }}">Dashboard</a></li>
        <li><a href="{{ url_for('expenses.index') }}" class="active">Expenses</a></li>
        <li><a href="{{ url_for('income.index') }}">Income</a></li>
        <li><a href="{{ url_for('loans.index') }}">Loans</a></li>
        <li><a href="{{ url_for('accounts.show_transfers') }}">Accounts</a></li>
        <li><a href="{{ url_for('users.add_private') }}">Users</a></li>
    </ul>
</nav>
<nav class="subnav">
    <ul>
        <li><a href="{{ url_for('expenses.index') }}" class="active">Expenses</a></li>
        <li><a href="{{ url_for('expenses.add_expense') }}">Add Expense</a></li>
        <li><a href="{{ url_for('expenses.add_category') }}">Add Expense Category</a></li>
    </ul>
</nav>
{% endblock %}

{% block header %}<h1>Expenses Search for "{{ query }}"</h1>{% endblock %}

{% block body %}
<div class="left grid_9">
    {% for entry in entries %}
    {% if loop.first %}
    <ul class="list_1">
        {% endif %}
        <li class="blue {% if loop.last %}last{% endif %}">
            <p>
                <span class="amount">&minus; &pound;{{ entry.0.amount|currencyformat }}</span>
                {{ entry.0.description }} in <a href="{{ url_for('expenses.index', category=entry.2) }}">{{ entry.1 }}</a>
            </p>
            <div class="date">
                {% if entry.3 != None %}
                    shared with <a href="{{ url_for('loans.index', user=entry.4) }}">{{ entry.3 }}</a>
                {% endif %}
                {{ entry.0.date|datetimeformat }}
            </div>
            <div class="actions">
                <ul>
                    <li class="first"><a href="{{ url_for('expenses.edit_expense', expense_id=entry.0.id) }}">Edit</a></li>
                    <li><a href="#">Delete</a></li>
                </ul>
            </div>
        </li>
        {% if loop.last %}
    </ul>
    {% endif %}
    {% endfor %}

    &nbsp;
</div>
<div class="right grid_3">
    <h2>Search</h2>
    <form action="{{ url_for('expenses.search') }}" method=post class="form_1">
        <input type="text" name="q">
        <input type="submit" value="Go">
    </form>
    <br/>

    {% for range in date_ranges %}
    {% if loop.first %}
    <h2>Time Period</h2>
    <ul class="list_2">
        <li class="push">{% if date %}<a href="{{ url_for('expenses.index', category=category) }}">All dates</a>
        {% else %}All dates{% endif %}</li>
        {% endif %}
        <li class="{% if loop.last %}last{% endif %}">{% if date == range.slug %}{{ range.name }}
            {% else %}<a href="{{ url_for('expenses.index', date=range.slug, category=category) }}">{{ range.name }}</a>
            {% endif %}</li>
        {% if loop.last %}
    </ul>
    {% endif %}
    {% endfor %}

    {% for cat in categories %}
    {% if loop.first %}
    <h2>Categories</h2>
    <ul class="list_2">
        <li class="push">{% if category %}<a href="{{ url_for('expenses.index', date=date) }}">All categories</a>
        {% else %}All categories{% endif %}</li>
        {% endif %}
        <li class="{% if loop.last %}last{% endif %}">{% if category == cat.slug %}{{ cat.name }}
            {% else %}<a href="{{ url_for('expenses.index', date=date, category=cat.slug) }}">{{ cat.name }}</a>
            {% endif %}</li>
        {% if loop.last %}
    </ul>
    {% endif %}
    {% endfor %}

    <h2>Actions</h2>
    <ul class="list_2">
        <li><a target="new" href="{{ url_for('expenses.export', date=date, category=category) }}">Export to CSV</a></li>
    </ul>
</div>
{% endblock %}