{% extends "admin_layout.html" %}
{% block nav %}
<nav class="nav">
    <ul>
        <li><a href="{{ url_for('dashboard.index') }}">Dashboard</a></li>
        <li><a href="{{ url_for('expenses.index') }}">Expenses</a></li>
        <li><a href="{{ url_for('income.index') }}">Income</a></li>
        <li><a href="{{ url_for('loans.index') }}">Loans</a></li>
        <li><a href="{{ url_for('accounts.add') }}" class="active">Accounts</a></li>
        <li><a href="{{ url_for('users.add_private') }}">Users</a></li>
    </ul>
</nav>
<nav class="subnav">
    <ul>
        <li><a href="{{ url_for('accounts.add') }}" class="active">Add Account</a></li>
    </ul>
</nav>
{% endblock %}
{% block body %}
<header><h1>Dashboard</h1></header>
<article class="container_12">
    <div class="left grid_6">
        <h2>Add Account</h2>
        {% if error %}
            <ul class="list_1">
                <li class="orange last">{{ error }}</li>
            </ul>
        {% endif %}
        <form action="{{ url_for('accounts.add') }}" method=post>
            <dl>
                <dt>Name:
                <dd><input type=text name=name>

                <dt>Type:
                <dd><select name=type>
                        <option value="asset">Asset</option>
                        <option value="liability">Liability</option>
                    </select>

                <dt>Balance:
                <dd><input type=text name=balance>

                <dd><input type=submit value=Add>
            </dl>
        </form>
    </div>
    <div class="clear"></div>
</article>
{% endblock %}