<!doctype html>
<title>Budget</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div class=page>
  <h1>Budget</h1>
  <div class=metanav>
  {% if not session.logged_in %}
    <a href="{{ url_for('login') }}">log in</a>
  {% else %}
    <a href="{{ url_for('logout') }}">log out</a>
  {% endif %}
  </div>
  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}

  <ul>
    <li><a href="{{ url_for('show_accounts') }}">Accounts</a></li>
    <li><a href="{{ url_for('add_account') }}">Add Account</a></li>
    <li><a href="{{ url_for('account_transfer') }}">Account Transfer</a></li>

    <li><a href="{{ url_for('show_income') }}">Income</a></li>
    <li><a href="{{ url_for('add_income') }}">Add Income</a></li>
    <li><a href="{{ url_for('add_income_category') }}">Add Income Category</a></li>

    <li><a href="{{ url_for('show_expenses') }}">Expenses</a></li>
    <li><a href="{{ url_for('add_expense') }}">Add Expense</a></li>
    <li><a href="{{ url_for('add_expense_category') }}">Add Expense Category</a></li>

    <li><a href="{{ url_for('add_private_user') }}">Add User</a></li>
  </ul>
  {% block body %}{% endblock %}
</div>
