{% extends "layout.html" %}
{% block body %}
  <h2>Accounts</h2>
  <br />
  <table class=entries>
  {% for account in accounts %}
    <tr>
        <td>{{ account.name }}</td>
        <td>&pound;{{ account.balance }}</td>
    </tr>
  {% else %}
    No accounts yet.
  {% endfor %}
  </table>
  <br />
  <table class=entries>
  {% for transfer in transfers %}
    <tr>
        <td>{{ transfer.0.date }}</td>
        <td>{{ transfer.1 }}</td>
        <td>{{ transfer.2 }}</td>
        <td>&pound;{{ transfer.0.amount }}</td>
    </tr>
  {% else %}
    No account transfers yet.
  {% endfor %}
  </table>
{% endblock %}